extends layout.jade

block content
    - function getPagePath(pagination) { return pagination.index === 0 ? '' : pagination.name; }

    each release in pagination.files
        article
            h2
                a(href=release.path)= "#" + release.number + " - " + release.title
            img(src=release.banner.url, alt=release.banner.title)
            != release.excerpt
    hr
    .pagination
        if pagination.next
            a.previous(href=getPagePath(pagination.next.pagination)) &lArr;
        if pagination.previous && pagination.next
            |&#32;
        if pagination.previous
            a.next(href=getPagePath(pagination.previous.pagination)) &rArr;
        .clear